$background-color: #dcbb9a;
$brief-background-color:#fadcba;
$body-background-color:#ffffff;
$heading-color: #893c00;
$reflink-color:#3d70a1;
$table-header-color:#e0e0e0;
$table-background-color: white;
$text-color: #000000;
$form-text-color:#808080;

$h1: capitalize;

$bried-width: 40%px;
$brief-height: 75px;

$brief-padding-bottom: 0px;

$brief-margin-right: 20px;
$brief-margin-bottom: 0;