$background-color: rgba(198, 238, 252, 0.53);
$brief-background-color:#fff178;
$body-background-color:#3b3b3b;
$heading-color: #fccd10;
$reflink-color:#f5c70f;
$table-header-color:#94a34e;
$table-background-color:#677d01;
$text-color:white;
$form-text-color:#fccd10;

$h1: uppercase;

$bried-width: 925px;
$brief-height: 25px;

$brief-padding-bottom:15px;

$brief-margin-right:0px;
$brief-margin-bottom:33px;